{% extends "layout.njk" %}

{% block head %}
<title>Sobre - Lucas Barroso</title>   

{% endblock %}


{% block content %}

        <div id="wrapper">
            <img src="https://avatars0.githubusercontent.com/u/55262061?s=460&u=afd5e36a1928c45b184a72081834fe19a88b7046&v=4" alt="Lucas Barroso">
            <h1>Lucas Barroso</h1>
            <h2>Aluno - Rocketseat</h2>

            <p>Programador full-stack jr buscando oportunidade no mercado. 
                <br>
                <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>
            </p>
        </div>

        <div id="links-footer" class="links">
            <a href="https://github.com/lucasbarroso23" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/lucas-barroso23/" target="_blank">Linkedin</a>
          

        </div>

{% endblock %}
  